<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__title about__mw title">
        Настоящий высокий огонь
        у вас дома
      </div>
      <div class="about__description about__mw">
        Благодаря специальной технологии горения биоэтанола
        мы добились горения потрясающей красоты
      </div>
      <div class="about__image"
           style="background-image: url('images/features-img.png')">
        <div class="about__blur about__blur_black">

        </div>
        <div class="about__blur about__blur_yellow">

        </div>
        <div class="about__blur about__blur_yellow about__blur_yellow_left">

        </div>
        <div class="about__blur about__blur_orange">
        </div>
        <div class="about__blur about__blur_little">
        </div>
        <div class="about__blur about__blur_little about__blur_left">
        </div>
      </div>
      <ul class="about__features">
        <li class="about__feature"
            style="background-image: url('images/fire-icon.svg')">
          Пламя яркое, высотой
          до 20 сантиметров
        </li>
        <li class="about__feature"
            style="background-image: url('images/drops-icon.svg')">

          Работает такой камин
          на биотопливе

        </li>
        <li class="about__feature"
            style="background-image: url('images/cross-icon.svg')">

          Он не дымит и не пахнет
        </li>
      </ul>
    </div>
  </div>
</section>
