<section class="campfire">
  <div class="container">
    <div class="campfire__wrapper">
      <div class="campfire__title title">
        <div class="campfire__title_left">Умный камин</div>
        <div class="campfire__title_line">
        </div>
        <div class="campfire__title_right"> очень умный
        </div>
      </div>
      <div class="campfire__description">
        Даже если у Вас нет своего решения по умному дому.
        Мы отлично ладим с Яндекс.Алиса и Mi Home.
      </div>
      <div class="campfire__image"
           style="background-image: url('images/clever-img.png')"></div>
    </div>
  </div>
</section>
