<section class="collector">
  <div class="container">
    <div class="collector__wrapper">
      <div class="collector__title title">вы автор вашего камина</div>
      <div class="collector__inner">
        <div class="collector__view">
          <div class="collector__image" style="background-image: url('images/campfire-img-2.png')"></div>
        </div>
        <ul class="collector__settings">
          <li class="collector__block">
            <div class="collector__subtitle">
              Выберите длину
            </div>
            <div class="collector__range-slider">
              0.5 м
              <input type="range" class="collector__range styled-slider slider-progress">
              10 м
            </div>
          </li>
          <li class="collector__block">
            <div class="collector__subtitle">
              Лицевая панель
            </div>
            <div class="collector__swiper-shell">
              <div class="collector__swiper swiper">
                <div class="collector__swiper-wrapper swiper-wrapper">
                  <div class="collector__swiper-slide swiper-slide"
                       style="background-image: url('images/front-panel-img.png')">

                  </div>
                  <div class="collector__swiper-slide swiper-slide">

                  </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="collector__swiper-button_prev swiper-button-prev"></div>
                <div class="collector__swiper-button_next swiper-button-next"></div>
              </div>
            </div>
          </li>
          <li class="collector__block">
            <div class="collector__subtitle">
              дополнительные функции
            </div>
            <ul class="collector__functions">
              <li class="collector__function">
                Защита от детей
                <label for="checkbox1" class="collector__label checkbox__label">
                  <input type="checkbox" class="collector__input checkbox__input" name="checkbox"
                         id="checkbox1">
                  <span class="checkbox__checked"></span>
                </label>
              </li>
              <li class="collector__function">
                Защита от детей
                <label for="checkbox3" class="collector__label checkbox__label">
                  <input type="checkbox" class="collector__input checkbox__input" name="checkbox"
                         id="checkbox3">
                  <span class="checkbox__checked"></span>
                </label>
              </li>
              <li class="collector__function">
                Wi-fi
                <label for="checkbox2" class="collector__label checkbox__label">
                  <input type="checkbox" class="collector__input checkbox__input" name="checkbox"
                         id="checkbox2">
                  <span class="checkbox__checked"></span>
                </label>
              </li>
              <li class="collector__function">
                Wi-fi
                <label for="checkbox4" class="collector__label checkbox__label">
                  <input type="checkbox" class="collector__input checkbox__input" name="checkbox"
                         id="checkbox4">
                  <span class="checkbox__checked"></span>
                </label>
              </li>
              <li class="collector__function">
                Защита от детей
                <label for="checkbox5" class="collector__label checkbox__label">
                  <input type="checkbox" class="collector__input checkbox__input" name="checkbox"
                         id="checkbox5">
                  <span class="checkbox__checked"></span>
                </label>
              </li>
              <li class="collector__function">
                Защита от детей
                <label for="checkbox6" class="collector__label checkbox__label">
                  <input type="checkbox" class="collector__input checkbox__input" name="checkbox"
                         id="checkbox6">
                  <span class="checkbox__checked"></span>
                </label>
              </li>
              <li class="collector__function">
                Wi-fi
                <label for="checkbox7" class="collector__label checkbox__label">
                  <input type="checkbox" class="collector__input checkbox__input" name="checkbox"
                         id="checkbox7">
                  <span class="checkbox__checked"></span>
                </label>
              </li>
              <li class="collector__function">
                Wi-fi
                <label for="checkbox8" class="collector__label checkbox__label">
                  <input type="checkbox" class="collector__input checkbox__input" name="checkbox"
                         id="checkbox8">
                  <span class="checkbox__checked"></span>
                </label>
              </li>
            </ul>
          </li>
        </ul>
        <div class="collector__blur"></div>
      </div>
      <ul class="collector__result">
        <li class="collector__item">
          <div class="collector__subtitle">длина</div>
          <div class="collector__value">6.5 м</div>
        </li>
        <li class="collector__item">
          <div class="collector__subtitle">лицевая панель</div>
          <div class="collector__value">
            <div class="collector__value_color" style="background-color: #B8542A"></div>
          </div>
        </li>
        <li class="collector__item">
          <div class="collector__subtitle">стоимость</div>
          <div class="collector__value collector__value_big">99 000₽</div>
        </li>
        <li class="collector__item">
          <button class="collector__button btn" type="button">
            Оставить заявку
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
