<section class="configuration">
  <div class="container">
    <div class="configuration__wrapper">
      <div class="configuration__column">
        <ul class="configuration__blocks">
          <li class="configuration__block">
            <div class="configuration__title subtitle">Топливный блок</div>
            <div class="configuration__description">Лицевая панель из жаропрочной нержавеющей стали
              толщиной 5 мм
            </div>
            <div class="configuration__image"
                 style="background-image: url('images/campfire-img.png')"></div>
            <div class="configuration__subtitle">
              Варианты отделки
            </div>
            <ul class="configuration__list">
              <li class="configuration__item">
                черный матовый
              </li>
              <li class="configuration__item">
                шлифованная сталь
              </li>
              <li class="configuration__item">
                керамика
              </li>
              <li class="configuration__item">
                нитрид титана
              </li>
            </ul>
            <div class="configuration__subtitle">
              Стандартная комплектация
            </div>
            <ul class="configuration__list">
              <li class="configuration__item">
                Управление с кнопок
              </li>
              <li class="configuration__item">
                С помощью пульта
              </li>
              <li class="configuration__item">
                Умный дом
              </li>
              <li class="configuration__item">
                Без шумность
              </li>
              <li class="configuration__item">
                Датчик С02
              </li>
              <li class="configuration__item">
                Датчик пролива
              </li>
              <li class="configuration__item">
                Датчик наклона
              </li>
              <li class="configuration__item">
                Датчик температуры
              </li>
              <li class="configuration__item">
                Без шумность
              </li>
              <li class="configuration__item">
                Дисплей
              </li>
              <li class="configuration__item">
                Индикатор уровня топлива
              </li>
              <li class="configuration__item">
                Блокировка залива топлива
              </li>
              <li class="configuration__item">
                Кнопка отключения от сети на лицевой панели
              </li>
            </ul>
          </li>
          <li class="configuration__block">
            <div class="configuration__title subtitle">Готовые решения</div>
            <div class="configuration__description">Напольные отдельно стоящие камины.
              Настенные очаги которые вешаются как ТВ. Подвесные модели.
            </div>
            <div class="configuration__swiper-shell">
              <div class="configuration__swiper configuration__swiper_solutions swiper">
                <div class="configuration__swiper-wrapper swiper-wrapper">
                  <div class="configuration__swiper-slide swiper-slide"></div>
                  <div class="configuration__swiper-slide swiper-slide"
                       style="background: red"></div>
                  <div class="configuration__swiper-slide swiper-slide"
                       style="background: blue"></div>
                </div>
                <div class="configuration__buttons">
                  <div class="configuration__button-prev swiper-button-prev"></div>
                  <div class="configuration__button-next swiper-button-next">
                  </div>
                </div>
              </div>

            </div>
          </li>
        </ul>
        <div class="configuration__blur"></div>
      </div>
      <div class="configuration__column">
        <ul class="configuration__blocks">
          <li class="configuration__block">
            <div class="configuration__title subtitle">Очаги для встраивания в нишу
              по Вашим размерам
            </div>
            <div class="configuration__description">
              <ul class="configuration__features">
                <li class="configuration__feature">
                  Короб выполненый из нержавеющей стали 2 мм или
                  холоднокатанной стали 3 мм
                </li>
                <li class="configuration__feature">
                  Окрашен кремнийорганической и акриловой краскойтали 2 мм или
                  холоднокатанной стали 3 мм
                </li>
                <li class="configuration__feature">
                  Каждый комплектуется керамическим матом
                </li>
                <li class="configuration__feature">
                  Лучшая теплоизолированость из доступных
                </li>
                <li class="configuration__feature">
                  Изготавливается исключительно под Ваши размеры
                </li>
                <li class="configuration__feature">
                  Наши технологи спроектируют техническое задание для ниши учитывая
                  особенности Вашего ремонта.
                </li>
                <li class="configuration__feature">
                  Размер ограничен только Вашей фантазией
                </li>
                <li class="configuration__feature">
                  Отделка стемалитом и цветными металлами
                </li>
              </ul>


            </div>
            <div class="configuration__swiper-shell">
              <div class="configuration__swiper configuration__swiper_addition swiper">
                <div class="configuration__swiper-wrapper swiper-wrapper">
                  <div class="configuration__swiper-slide swiper-slide"></div>
                  <div class="configuration__swiper-slide swiper-slide"></div>
                </div>
                <div class="configuration__buttons">
                  <div class="configuration__button-prev swiper-button-prev"></div>
                  <div class="configuration__button-next swiper-button-next">
                  </div>
                </div>
              </div>

            </div>
          </li>
          <li class="configuration__block">
            <div class="configuration__title subtitle">Аксессуары</div>
            <div class="configuration__description">Защитные экраны, Дверцы, Стемалит, Дрова,
              Камни, Кастомные пульты
            </div>
            <div class="configuration__swiper-shell">
              <div class="configuration__swiper configuration__swiper_accessory swiper">
                <div class="configuration__swiper-wrapper swiper-wrapper">
                  <div class="configuration__swiper-slide swiper-slide"></div>
                  <div class="configuration__swiper-slide swiper-slide"></div>
                </div>
                <div class="configuration__buttons">
                  <div class="configuration__button-prev swiper-button-prev"></div>
                  <div class="configuration__button-next swiper-button-next">
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
