<section class="feature">
  <div class="container">
    <div class="feature__wrapper">
      <div class="feature__content">
        <div class="feature__title title">
          заправка
        </div>
        <ul class="feature__descriptions">
          <li class="feature__description">
            Внутри не просто труба. Спроектированный нами бак, самого большого обьема среди всех
            производителей
          </li>
          <li class="feature__description">
            В наши топливные блоки встроен
            мощный насос.
          </li>
        </ul>
        <div class="feature__blur"></div>
      </div>
      <div class="feature__image"
           style="background-image: url('images/refuelling-img.png')">
        <div class="feature__value">
          3,5
          <small class="feature__value_small">минуты</small>
          <div class="feature__value_result">и бак наполнен
            на 100%
          </div>
        </div>
        <div class="feature__light feature__light_orange"></div>
        <div class="feature__light feature__light_yellow"></div>
        <div class="feature__light feature__light_brown"></div>
      </div>
      <div class="feature__instruction">
        <div class="feature__result">
          <div class="feature__instruction_begin"
               style="background-image: url('images/hose-icon.svg')">

          </div>
          <div class="feature__line"></div>
          <div class="feature__instruction_end"
               style="background-image: url('images/power-icon.svg')">
          </div>
        </div>
        Достаточно вставить шланг
        Нажать кнопку
      </div>
    </div>
  </div>
</section>
