<section class="first-screen">
  <div class="container">
    <div class="first-screen__wrapper">
      <div class="first-screen__content">
        <div class="first-screen__title title">
          Автоматические
          биокамины
        </div>
        <div class="first-screen__price"><small class="first-screen__price_small">от</small> 99 000₽</div>
        <ul class="first-screen__features">
          <li class="first-screen__feature"
              style="background-image: url('images/gear-icon.svg')">
            Свое
            производство
          </li>
          <li class="first-screen__feature"
              style="background-image: url('images/plane-icon.svg')">
            Доставка в любую
            точку мира
          </li>
        </ul>
        <div class="first-screen__blur first-screen__blur_left">
        </div>
      </div>
      <div class="first-screen__image"
           style="background-image: url('images/first-screen-img.png')">
        <div class="first-screen__blur first-screen__blur_yellow">
        </div>
        <div class="first-screen__blur first-screen__blur_black">
        </div>
        <div class="first-screen__blur first-screen__blur_orange">
        </div>
      </div>
      <div class="first-screen__blur first-screen__blur_right"></div>
    </div>
  </div>
</section>
