<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__title title">
                связаться с нами
            </div>
            <div class="footer__inner">
                <ul class="footer__block">
                    <li class="footer__item">
                        <div class="footer__subtitle">
                            WhatsApp
                        </div>
                        <div class="footer__value">
                            <a href="tel:+79113064144" class="footer__href">
                                +7911 306 4144
                            </a>
                        </div>
                    </li>
                    <li class="footer__item">
                        <div class="footer__subtitle">
                            Телеграмм

                        </div>
                        <div class="footer__value">
                            <a href="https://t.me/elite-fire" class="footer__href">
                                @elite_fire
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="footer__block">
                    <li class="footer__item">
                        <div class="footer__subtitle">
                            Почта
                        </div>
                        <div class="footer__value footer__value_orange">
                            <a href="mailto:info@elite-fire.ru" class="footer__href">
                                info@elite-fire.ru
                            </a>
                        </div>
                    </li>
                    <li class="footer__item">
                        <div class="footer__subtitle">
                            Наш адрес
                        </div>
                        <div class="footer__value">
                            Россия, г. Москва,
                            Варшавское шоссе, 170 г
                        </div>
                    </li>
                </ul>
                <ul class="footer__block">
                    <li class="footer__item">
                        <div class="footer__subtitle">
                            Телефон
                        </div>
                        <div class="footer__value footer__value_big">
                            <a href="tel:89113064144" class="footer__href">
                                8 911 306 4144
                            </a>
                        </div>
                    </li>
                    <li class="footer__item">
                        <button class="footer__button" type="button">
                            Связаться с менеджером
                        </button>
                    </li>
                </ul>
            </div>
            <div class="footer__end">
                <div class="footer__shell">
                    <div class="footer__logo logo">
                        <div class="logo__img"
                             style="background: url('images/logo.svg') center center/contain no-repeat">

                        </div>
                    </div>
                    <div class="footer__year">
                        2020-2021
                    </div>
                    <div class="footer__company">
                        ООО “МЕТАЛЛЭЛЕКТРОИНВЕСТ”
                    </div>
                </div>
                <div class="footer__user">
                    <a class="footer__href" href="#">
                        Пользовательское соглашение
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
