<header class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__logo logo">
          <div class="logo__img"
               style="background: url('images/logo.svg') center center/contain no-repeat"></div>
          <div class="logo__text">Автоматические
            биокамины
          </div>
        </div>
        <div class="header__inner">
          <div class="header__navigation">
            <nav class="navigation">
              <ul class="navigation__list">
                <li class="navigation__item">
                  <a href="#" class="navigation__href">Продукция</a>
                </li>
                <li class="navigation__item _active">
                  <a href="#" class="navigation__href">Конструктор</a>
                </li>
                <li class="navigation__item">
                  <a href="#" class="navigation__href">Опыт</a>
                </li>
                <li class="navigation__item">
                  <a href="#" class="navigation__href">Контакты</a>
                </li>
              </ul>
            </nav>
            <button class="navigation__mobile-menu" type="button">
              <span class="sr-only">Открыть навигацию</span>
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
          <button class="header__contact lg" type="button">
            <span class="header__contact_tel" style="background-image: url('images/phone-icon.svg')">
            </span>
            <span class="sr-only">Открыть поиск</span>
          </button>
        </div>
      </div>
    </div>
</header>